# Python package requirements
aiohttp
aiosignal
annotated-types
ansi2html
anyio
appdirs
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
dash
dash-ag-grid
dash-bootstrap-components
dash-core-components
dash-html-components
dash-iconify
dash-mantine-components
dash-table
dataclasses-json
Deprecated
distro
exceptiongroup
faiss-cpu
fastapi
filelock
finnhub-python
Flask
flatbuffers
frozendict
frozenlist
fsspec
google-auth
googleapis-common-protos
grpcio
h11
html5lib
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
jq
jsonpatch
jsonpointer
kubernetes
langchain
langchain-community
langchain-core
langsmith
lxml
MarkupSafe
marshmallow
mmh3
monotonic
mpmath
multidict
multitasking
mypy-extensions
nest-asyncio
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
overrides
packaging
pandas
peewee
plotly
posthog
protobuf
pulsar-client
pyasn1
pyasn1-modules
pydantic
pydantic_core
PyPika
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
retrying
rsa
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tenacity
tiktoken
tokenizers
tqdm
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
webencodings
websocket-client
websockets
Werkzeug
wrapt
yarl
yfinance
zipp
google-cloud-bigquery
db-dtypes
google-cloud-bigquery-storage